:root {
  --primary:#990000;
  --primaryD:#800000;
  --secondary:#9E9E9E;
  --secondaryD:#353535;
}
  
* {
  box-sizing: border-box;
}

body {
  margin: 50px;
  font-family: Arial, 'Noto Serif TC', serif, 'Abril Fatface', cursive;
}

  
/* Style the side navigation */
.sidenav {
  padding-top: 1.5vh;
  height: 100%;
  width: 24%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary);
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: white;
  font: 'Abril Fatface';
  font-size: 3.5vw;
  padding-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 1vh;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: var(--primaryD);
  color: white;
}

/* Style the content */
.content {
  /*margin-left: 24%;*/
  width: 76%;
  font: 'Noto Serif TC';
  color: var(--secondaryD);
  position: fixed;
  z-index: 1;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style the container */
.poem-container {
  margin-left: 24%;
  padding: 5px;
  font: 'Noto Serif TC';
  font-size: 16px;
}

/* Style the inputs */


::placeholder {
  font: 'Noto Serif TC';
}
input, select{
  margin: 8px 0;  
}
input[type=text], input[type=number], select {
  width: 60vw;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid var(--secondaryD);
  border-radius: 4px;
  box-sizing: border-box;
}

  
input[type=submit] {
  width: 60vw;
  background-color: var(--primary);
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--primaryD);
}
  
input[type=button] {
  width: 30%;
  background-color: var(--primary);
  color: #FFFFFF;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* special styling for wide viewports */
@media (min-width: 960px) {
  .sidenav {
    width: 20%;
    padding-top:12px;
  }
  .sidenav a {
    padding-top: 15px;
    font-size: 28px;
  }

  .content {
    margin-left: 20%;
    width: 80%;
  }

  /* Style the container */
  .poem-container {
    margin-left: 20%;
    font-size:20px;
  }
  
  input[type=text], select {
    width: 720px;
  }
  
  input[type=number], select {
    width: 720px;
  }
    
  input[type=submit] {
    width: 720px;
    background-color: var(--primary);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

}