:root {
  --primary:#990000;
  --primaryD:#800000;
  --secondary:#9E9E9E;
  --secondaryD:#353535;
}
  
* {
  box-sizing: border-box;
}

body {
  margin: 50px;
  font-family: Arial, 'Noto Serif TC', serif, 'Abril Fatface', cursive;
}

  
/* Style the side navigation */
.sidenav {
  padding-top: 1.5vh;
  height: 100%;
  width: 24%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary);
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: white;
  font: 'Abril Fatface';
  font-size: 3.5vw;
  padding-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 1vh;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: var(--primaryD);
  color: white;
}

/* Style the content */
.content {
  margin-left: 24%;
  padding-left: 20px;
  font: 'Noto Serif TC';
  color: var(--secondaryD);

}

/* Style the inputs */


::placeholder {
  font: 'Noto Serif TC';
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--secondaryD);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--secondaryD);
  border-radius: 4px;
  box-sizing: border-box;
}
  
input[type=submit] {
  width: 100%;
  background-color: var(--primary);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--primaryD);
}
  
input[type=button] {
  width: 30%;
  background-color: var(--primary);
  color: #FFFFFF;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* special styling for wide viewports */
@media (min-width: 980px) {
  .sidenav {
    width: 20%;
    padding-top:12px;
  }
  .sidenav a {
    padding-top: 15px;
    font-size: 28px;
  }

  .content {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input[type=text], select {
    width: 750px;
  }
  
  input[type=number], select {
    width: 750px;
  }
    
  input[type=submit] {
    width: 750px;
    background-color: var(--primary);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

}