<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8YXSLGF244"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8YXSLGF244');
</script>
<title>AI詩人</title>
<meta name="description" content="展示AI詩人的過往作品">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap" rel="stylesheet">

</head>
<body>

<div class="sidenav">
  <a href="/">Main</a>
  <a href="/feedback">Feedback</a>
  <a href="/gallery">Gallery</a>
  <a href="https://www.facebook.com/kghsAI" target="_blank">Kghs</a>
  <a href="/about">About</a>
</div>


<div class="poem-container">
    <h2>關於「AI詩人初體驗」課程</h2>
    <p>高雄女中開設的微課程，由校內國文科教師講授新詩創作與賞析，暨南大學資工系的吳教授指導Python資料存取及網路爬蟲等技術，讓學生做出自己的AI新詩產生器，並發表其作品。

</p>
	<br>

    <h2>關於本站</h2>
    <p>參與前述課程的學生開發的AI新詩產生器網站版，於10/29~10/30在高雄資訊教育園遊會展出。</p>
	<br>
</div>

</body>
</html>


