<!DOCTYPE html>
<html lang="en">
<head>
<title>AIPOET</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap" rel="stylesheet">

</head>
<body>

<div class="sidenav">
  <a href="/">Main</a>
  <a href="/feedback">Feedback</a>
  <a href="/gallery">Gallery</a>
  <a href="https://www.facebook.com/kghsAI" target="_blank">KGHS</a>
</div>

<div class="content">
  <form method="post">
    <div><input type="text" id="fb" name="fb" placeholder="您的回饋"></div>

    <div><input type="submit" value="送出"></div>
  </form>
</div>

</body>
</html>


