<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8YXSLGF244"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8YXSLGF244');
</script>
<title>AI詩人</title>
<meta name="description" content="展示AI詩人的過往作品">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap" rel="stylesheet">

</head>
<body>

<div class="sidenav">
  <a href="/">Main</a>
  <a href="/feedback">Feedback</a>
  <a href="/gallery">Gallery</a>
  <a href="https://www.facebook.com/kghsAI" target="_blank">Kghs</a>
  <a href="/about">About</a>
</div>


<div class="poem-container">
    <h2>01</h2>
    <p>大地</p>
    <p>鄉愁是鄉愁是鄉愁是空空的燒痛</p>
    <p>縱長城</p>
    <p>風裏</p>
	<br>

    <h2>02</h2>
    <p>陪伴過你一段塵緣</p>
    <p>在暮色裡你漠然轉身漸行漸遠</p>
    <p>前世曾經是我只如雲影掠過</p>
    <p>一個</p>
    <p>秋雨也許正落著細細的一次</p>
	<br>

    <h2>03</h2>
    <p>芳草鮮美落英繽紛</p>
    <p>在林中</p>
    <p>最起初只有那一柱香</p>
    <p>還有那辜負了的花朵</p>
    <br>
    <p>請你握別</p>
    <br>
    <p>只為再無遺憾</p>
	<br>

	<h2>04</h2>
    <p>揮手別離之後的相思</p>
    <p>像那幾朵茉莉</p>
    <p>掃過</p>
    <p>而當你終於是我已深鎖於</p>
    <p>霧起時我最美麗的一首詩</p>
	<br>

    <h2>05</h2>
    <p>分離</p>
    <p>在燈下</p>
    <p>在時光裡慢慢解釋的字句</p>
    <p>我們會把彼此忘記</p>
    <br>
    <p>所有的夜裡</p>
    <br>
    <p>所有的親愛與信仰都</p>
	<br>

    <h2>06</h2>
    <p>槭葉</p>
    <p>被一隻野兔拾到</p>
    <p>所謂鄉愁</p>
    <p>海灘上的空白</p>
    <p>午夜一滴甜美的悲情</p>
	<br>

    <h2>07</h2>
    <p>解讀你的句子</p>
    <br>
    <p>宜說破</p>
    <p>花落在成都一家茶館</p>
    <p>只恐瓊樓玉宇</p>
    <br>
    <p>詩早就在窗外偷窺</p>
	<br>

    <h2>08</h2>
    <p>啊</p>
    <p>以非理性逼視 水聲中</p>
    <br>
    <p>其中一句，除了上帝什麼</p>
    <p>似乎響自隔世的內部深處</p>
    <p>看看窗外</p>
    <p>春是理由之一</p>
	<br>

    <h2>09</h2>        
    <p>薔薇</p>
    <p>因為</p>
    <p>溫柔</p>
    <p>或者冷漠</p>
    <p>遠去</p>
    <br>
    <p>然後的來臨的</p>
    <p>這所有的命運</p>
    <p>夜涼如冰 我知道啊</p>
    <p>那一朵盛開的 是人間</p>
	<br>

    <h2>10</h2>
    <p>不動聲色地走下去</p> 
    <p>漠然地走下去吧朋友</p> 
    <p>我相信詩</p>
    <p>也漂流在日落後的雨</p> 
    <p>在不再回來的街角</p>
    <p>曾經與你握別</p> 
    <p>從此分離</p>
	<br>

</div>

</body>
</html>


