<!DOCTYPE html>
<html lang="en">
<head>
<title>AIPOET</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap" rel="stylesheet">

  <script>
  function print(text) {
    console.log(text);
  }
</script>
  
</head>
<body>
  
<div class="sidenav">
  <a href="/">Main</a>
  <a href="/feedback">Feedback</a>
  <a href="/gallery">Gallery</a>
  <a href="https://www.facebook.com/kghsAI" target="_blank">KGHS</a>
</div>

<div class="content">
  <form method="post">
    <div>
      <label for="n">數量:</label>
    </div>
    <div>
      <input type="number" id="n" name="n" placeholder="您希望AI詩人寫出幾首詩？">
    </div>

    <div>
       <label for="len">長度:</label>
    </div>
    <div>
      <input type="number" id="len" name="len" placeholder="您希望每首詩多長？">     
    </div>

    <div>
      <label for="style">風格:</label>
    </div>
    <div>
      <select id="style" name="style">
        <option value=0>懷古</option>
        <option value=1>抒情</option>
        <option value=2>奇詭</option>
      </select> 
    </div>

  <div>
    <input type="submit" value="寫詩！">
  </div>
  </form>
<div style="width: 60vw;">
  {% for p in poem%}
    {% for l in p %}
      <div>{{ l }}</div>
    {% endfor %}
    <button onclick="window.location.href='{{ url_for( 'toprint' , text=p[0] ) }}'">影印</button>
  {% endfor %}
</div>  
</div>

</body>
</html>

